.highlight-date {
  font-weight: bold !important;
  color: #0a0a0a !important;
}

.jstree-default-large .jstree-anchor {
  line-height: 32px;
  height: auto;
  width: 95%;
}
.node-times {
  width: 50%;
  float: right;
  text-align: right;
}
.node-title {
  width: 50%;
  float: left;
}
.node-start-time {
  margin-right: 30px;
}
